
h1{
    /* width: 80px; */
    padding-top: 150px;
    padding-left: 70px;
    font-size: 70px;
    font-weight: 2px;
    font-family: Arial, sans-serif;

}
.touch{
         
        background-color: #b0a0ce; /* Green */
        border: none;
        /* color: white; */
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
margin-left: 70px;
    size: 300px;  
    border-color: floralwhite;
}
 .touch:hover{
    box-shadow: 0 10px 10px 0 #37245c8d, 0 17px 50px 0 rgba(236, 237, 239, 0.655);

    
 }
   .top{
    background-color: rgba(240, 228, 252, 0.578);
   
   }
 
 
.navbar-defualt{
background-color: #22bf9f;

}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;

}

.navbar {
    color:  #22bf9f;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #15b192;
    
}

.footer-padding {
	padding-bottom: 60px;
}
.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f6f8f7ec;
}


.footer-blog {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f6f8f7ec;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #111010;
}
.bar{
    color:  #1abc9c;
}

/* blog  */


body {
    font-family: Arial, sans-serif;


    /* background-image:linear-gradient(135deg,  #ffffff,  #fbf1f1); */
    
}

h2{
   font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 184, 136);
}

.input-section {
    margin-bottom: 10px;
    width: 37cm;
}


.label-section {
    text-decoration: wavy;
    font-size: 0.5cm;
    color: rgba(10, 10, 10, 0.819);
}

.div-section {
    height: 1cm;
    border-radius: 8px;
    margin: 0.5cm;
}
.content {
    height: 6cm;
    border-radius: 8px;
    margin: 0.5cm;
    width: 75%;
}


.preview {
    width: 15cm;
    height: 15cm;
}

.video-preview {
    width: 15cm;
    height: auto;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
    width: 75%;
    padding: 5px;
    box-align: center;
}

.button-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* box-shadow: 2px royalblue; */
    /* color:cornflowerblue; */
   

}

.button-section button {
    padding: 10px 20px;
    font-size: 16px;
}

 .data-container {
  max-height: 5%;
  
    
    /* Adjust the height as needed */
}  

.textContent{
    padding-top: 20px;
    
}

.card {
  
    border: 1px solid rgb(10, 19, 12);
    border-radius: 8px;
    box-shadow: 0 2px 4px #0405051a;
    padding: 20px;
    margin-bottom: 20px;
    /* background-image: url("bg.jpeg"); */
    background: #8f6dcb6f;
    background: size 25px;;
    background-position: center;
     overflow-y:scroll; 
     /* padding-left: 10%; */
     padding-bottom: 7%;

}

.card-bottom {
  
    border: 1px solid rgb(8, 10, 10);
    border-radius: 8px;
    box-shadow: 0 2px 4px #0405051a;
    padding: 20px;
    margin-bottom: 20px;
    /* background-image: url("bg.jpeg"); */
    background: #8f6dcb6f;
     background: size px;
    background-position: center; 
     /* padding-left:10px;  */
     padding-bottom: 7%;

}


.card-header {
    background-color: #f6fcfb;
    padding: 10px;
    border-radius: 6px;
}

.card-title {
    margin: 0;
}

.card-body {
    margin-top: 10px;
}

.cont-bottom{
    padding: auto;

}


hr{
    color: white;
}